body{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: rgb(59, 183, 183);
}

header{
    text-align: center;
    font-size: 2.0em;
    font-weight: bold;
    margin: 50px;
}

main{
    display: block;
    width: 350px;
    height:300px;
    background-color: #fff;
    border-radius: 15px;
}

div{
    margin: 10px;
    font-size:1.2em;
}

label{
    display:flex;
    padding: 15px;
}

input {
    margin:0px 5px;
}

textarea{
    width: 320px;
    height: 140px;
    margin-bottom: 10px;
    resize: none;
}